.containt{
    display: flex;
    flex-direction: row;
}
#jitsi-iframe{
    width: 85vw;
}

.notificationHeading{
    margin: 0.5rem;
    padding: 0.5rem;
}
.subNotificationHeading{
    margin-left: 0.5rem;
   
}
.calenderBtn{
     margin: 0rem;
     margin-left: 0.5rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     padding-bottom: 0.2rem;
     padding-top: 0.2rem;
     background-color: gray;
     border-radius: 3px;
     border: none;
     text-align: center;
     color: white;
     cursor: pointer;
}
.calenderBtn:hover{
    background-color: rgb(26, 4, 4);
    color: rgb(241, 233, 233);
}
